<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.mapper.CustomerTransferMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.domain.CustomerTransfer" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="operator_id" property="operatorId" jdbcType="BIGINT" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="old_seller_id" property="oldSellerId" jdbcType="BIGINT" />
    <result column="new_seller_id" property="newSellerId" jdbcType="BIGINT" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from customertransfer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.wolfcode.domain.CustomerTransfer" useGeneratedKeys="true" keyProperty="id" >
    insert into customertransfer (customer_id, operator_id, operate_time, 
      old_seller_id, new_seller_id, reason
      )
    values (#{customerId,jdbcType=BIGINT}, #{operatorId,jdbcType=BIGINT}, #{operateTime,jdbcType=TIMESTAMP}, 
      #{oldSellerId,jdbcType=BIGINT}, #{newSellerId,jdbcType=BIGINT}, #{reason,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.domain.CustomerTransfer" >
    update customertransfer
    set customer_id = #{customerId,jdbcType=BIGINT},
      operator_id = #{operatorId,jdbcType=BIGINT},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      old_seller_id = #{oldSellerId,jdbcType=BIGINT},
      new_seller_id = #{newSellerId,jdbcType=BIGINT},
      reason = #{reason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, customer_id, operator_id, operate_time, old_seller_id, new_seller_id, 
    reason
    from customertransfer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, customer_id, operator_id, operate_time, old_seller_id, new_seller_id, 
    reason
    from customertransfer
  </select>
</mapper>